.zanlist{
    /*border: solid rosybrown 1px;*/
    margin-left: 5px;
    margin-right: 5px;
}
.zan-icon span{
    font-size: large;
    width: 32px;
    height: 30px;
   padding-top: 5px;
}
.zan-icon{
   /* border: solid rosybrown 1px;*/
    width: 30px;
    padding-left: 2px;
    margin-left: 25px;
    margin-right: 5px;
    display: inline-block;
    float: left;
}
.zan-user-list{

}
.zan-user-list ul li{
   /* border: solid rosybrown 1px;*/
    display: inline-block;
    width: 32px;
    height: 32px;
}
.zan-user-list ul li img{
    display: inline-block;
    width: 31px;
    height: 31px;
}
