html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #FFFFFF;
}
#container{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
}
#contentArea{
    width: 98%;
    height: 15%;
    border: solid #dcdcdc 1px;
    background-color: white;
     border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
}
#textArea{
    width: 95%;
    float: left;
}
#publish{
    height: 40px;
    margin-top: 10px;
}
.pBtn{
    margin-right: 10px;
    float: right;
}
#messageList{
    margin-top: 40px;
    height: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 98%;
}
.messageHead{
    height: 80px;
}
.message{
    height: 80px;
}
.himg{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.headImg{
    width: 50px;
    height: 50px;
    float: left;
}
.content{
    margin-top: 5px;
    margin-left: 10px;
}
.mtime{
    float: left;
    margin-top:40px;
    margin-left:10px;
}
.mview{
    float: left;
    margin-top:40px;
    margin-left:10px;
}
.reply{
    display: none;
}
textarea{
    resize: none;
}
#viewMore{
    cursor:pointer
}
.messagePanel{
    margin-top:10px;
    border: solid #dcdcdc 1px;
    background-color: white;
     border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
}
